My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        16
      ],
      "id": "c53b0073-aa07-4cea-a8a1-e6d5cd96404e",
      "name": "Webhook",
      "webhookId": "38706e53-a706-44ed-9f47-e97266bbd237"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "235566ce-201f-4579-b2b0-162f723d9862",
              "name": "message",
              "value": "={{$json[\"body\"][\"message\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        32
      ],
      "id": "c6a5d709-45e2-4f83-ad6b-f4253dd15ff4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n   \"reply\": {{ JSON.stringify($json[\"choices\"][0][\"message\"][\"content\"]) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        784,
        0
      ],
      "id": "f56dd575-86f6-49d6-a5da-fc7ba281f339",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer THE KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json[\"message\"]}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        0
      ],
      "id": "16768db8-74e2-4c12-bcea-78e4f333b550",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "32ae0339-b538-4338-ab1e-a5b2cafab1ee",
  "meta": {
    "instanceId": "933de9e6ebf1e1415b1b4b6b4e5b84578abf6def2b5f2b58f417b0d26a661245"
  },
  "id": "6GLNk8SwMrvsp5hn",
  "tags": []
}